/* oswald-regular - cyrillic_latin */
@font-face{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v16-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v16-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - cyrillic_latin */
@font-face{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-v16-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v16-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
}

p{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: inherit;

    margin-top: 30px;
    margin-bottom: 0;
}

.main-container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
}

.header{
    background-color: #ffffff;

    justify-content: space-between;
}

.header__logo{
    font-size: 70px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.text_grey{
    color: #474444;
}

.text_orange{
    color: #fd5433;
}

.list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.header__list{
    display: flex;

    list-style-type: none;
}

.header__list-item{
    color: #565656;
}

.title{
    margin-top: 0;
    margin-bottom: 0;

    font-family: "Oswald", sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
}

.title_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__title{
    font-size: 17px;
}

.link{
    display: inline-block;

    color: inherit;
    text-decoration: none;
}

.header__link{
    display: inline-block;
    padding: 45px 20px;

    font-family: "Oswald", sans-serif ;
    font-weight: 700;
    text-transform: uppercase;

    transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
}

.header__link:hover{
    background-color: #fd5433;
    color: #ffffff;

    /*transition: background-color .5s linear, color .5s linear;*/
}

.promo{
    position: relative;

    background-color: #b9b9b9;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;

}

.promo:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.3);
}

.promo__box{
    position: relative;
    padding-top: 230px;
    padding-bottom: 310px;

    font-family: "Oswald", sans-serif;
    text-align: center;

    flex-direction: column;
    align-items: center;
}

.promo__slogan{
    display: inline-block;
    margin-bottom: 20px;

    font-size: 120px;
    text-transform: uppercase;

    text-shadow: #8c8c8c 1px 1px 1px;
}

.promo__link{
    padding: 6px 60px;
}

.button{
    border-radius: 5px;
    background-color: #fd5433;

    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

    box-shadow: 0 1px #666666, inset 0 4px 4px -4px #fe7e5e;

    cursor: pointer;
}

/*SERVICES*/

.services{
    text-align: center;
}

.section__header{
    position: relative;
    border-bottom: #828282 solid 1px;

    padding-top: 26px;
    padding-bottom: 26px;

    text-align: center;
}

.section__title{
    font-size: 32px;
    color: #fd5433;
}

.services__content{
    justify-content: space-around;

    padding-top: 65px;
    padding-bottom: 65px;
}

.services__item{
    width: 21%;
}

.services__item:last-child{
    margin-right: 0;
}

.service__icon{
    fill: #fd5433;
    width: 170px;
    height: 170px;
}

.service__name{
    font-size: 30px;
    margin-top: 30px;
}

.service__content{
    margin-top: 30px;
}

.service__content > p:first-child{
    margin-top: 0;
}

/*PORTFOLIO*/

.portfolio__header{
    border-top: #828282 solid 1px;
    border-bottom: none;
}

.portfolio__content{
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item{
    width: 16.6667%;
    height: 100%;
}

/*ABOUT US*/

.about__members{
    justify-content: space-around;
}

.about__member{
    box-sizing: border-box;
    width: 19%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about__member_active{
    position: relative;
}

.about__member_active:after{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);

    content: "";
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 36px solid white;
}

.about__member-img{
    width: 100%;
}

.about__information{
    background-color: #fd5433;

    padding-top: 80px;
    padding-bottom: 60px;
    /*padding-top: 70px;
    padding-bottom: 45px;*/
}

.about__columns{
    display: flex;
    justify-content: space-between;

    color: white;
}

.about__column{
    width: 48%;
}

.about__column:last-child{
    margin-right: 0;
}

.about__title{
    text-transform: none;
}

.about__socials{
    display: flex;

    margin-top: 50px;
}

.about__link{
    margin-right: 20px;
}

.about__link:last-child{
    margin-right: 0;
}

.secondary-information__title{
    margin-bottom: 30px;
}

.secondary-information__row{
    margin-bottom: 10px;
}

.progress{
    color: white;
    background-color: white;
    height: 10px;

    width:50%;
    margin-left: 10%;
    margin-right: 1%;
    margin-bottom: 5px;
}

.progress::-webkit-progress-bar{
    background-color: #fd5433;
}

.progress::-webkit-progress-value{
    background-color: white;
}

.secondary-information__row:last-child{
    margin-bottom: 0;
}

.secondary-information__name{
    display: inline-block;
    vertical-align: top;
    min-width: 21%;

    text-transform: uppercase;
}

/*LATEST POSTS*/

.posts__content{
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 100px;
}

.post{
    width: 47%;
    margin-top: 90px;
}

.post:last-child{
    margin-right: 0;
}

.post__img-box{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 2%;
}

.post__img{
    display: block;
    width: 100%;
}

.post__content{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.post__header{
    padding-bottom: 10px;

    background-image: url("../img/separating-dash.png");
    background-size: 80px 4px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.post__title{
    font-size: 25px;
}

.post__date{
    font-family: "Oswald", sans-serif;
    color: #686868;
    font-size: 15px;
    text-transform: uppercase;
}

/*CONTACT FORM*/

.contact-us__wrapper{
    background-image: url("../img/BG City IMG.png");
    background-color: #b9b9b9;
    background-repeat: no-repeat;
    background-size: cover;

}

.contact-us__header{
    border-top: #828282 solid 1px;
    border-bottom: none;
}

.contact-us__content{
    padding-top: 30px;
    padding-bottom: 85px;
}

.contact-form{
    width: 100%;
}

.contact-form__row{
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.contact-form__field_half-size{
    width: 49%;
}

.contact-form__field_full-size{
    width: 100%;
}

.contact-form__label{
    display: none;
}

.form-field{
    font-size: 20px;

    box-sizing: border-box;

    width: 100%;
    padding: 20px;
}

.form-field::placeholder{
    color: #fd5433;
}

.contact-form__message{
    width: 100%;
    height: 228px;
    resize: none;

    padding-top: 15px;

    font-family: inherit;
}

.contact-form__button{
    display: block;

    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;

    font-family: Oswald, sans-serif;
    font-size: 26px;
    font-weight: 700;
}

/*FOOTER*/

.copyright{
    border-top: 1px solid #ffffff;

    padding-top: 25px;
    padding-bottom: 20px;
}

.copyright__text{
    display: inline-block;
    width: 100%;

    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

