/* oswald-regular - cyrillic_latin */
@font-face{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v16-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v16-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - cyrillic_latin */
@font-face{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-v16-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v16-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
}

p{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: inherit;

    margin-top: 30px;
    margin-bottom: 0;
}

.main-container{
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    background-color: #ffffff;
}

.header:after{
    content: "";
    display: block;
    clear: both;
}

.header__logo{
    float: left;

    font-size: 70px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.text_grey{
    color: #474444;
}

.text_orange{
    color: #fd5433;
}

.header__nav{
    float: right;
}

.list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.header__list{
    height: inherit;
}

.header__list-item{
    display: inline-block;
    vertical-align: top;

    color: #565656;
}

.header__list-item:hover{
    background-color: #fd5433;
    color: #ffffff;
}

.title{
    margin-top: 0;
    margin-bottom: 0;

    font-family: "Oswald", sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
}

.title_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__title{
    font-size: 17px;
}

.link{
    display: inline-block;

    color: inherit;
    text-decoration: none;
}

.header__link{
    display: inline-block;
    padding: 45px 20px;

    font-family: "Oswald", sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
}

.promo{
    position: relative;
    background-color: #b9b9b9;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.promo:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.3);
}

.promo__box{
    position: relative;
    padding-top: 230px;
    padding-bottom: 310px;
    margin-left: auto;
    margin-right: auto;

    font-family: "Oswald", sans-serif;
    text-align: center;
}

.promo__slogan{
    display: inline-block;
    margin-bottom: 20px;

    font-size: 120px;
    text-transform: uppercase;

    text-shadow: #8c8c8c 1px 1px 1px;
}

.promo__link{
    padding: 6px 60px;
}

.button{
    border-radius: 5px;
    background-color: #fd5433;

    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;

    box-shadow: 0 1px #666666, inset 0 4px 4px -4px #fe7e5e;
}

/*SERVICES*/

.services{
    text-align: center;
}

.section__header{
    position: relative;
    border-bottom: #828282 solid 1px;

    padding-top: 26px;
    padding-bottom: 26px;
}

.section__title{
    font-size: 32px;
    color: #fd5433;

    text-align: center;
}

.services__content{
    padding-top: 65px;
    padding-bottom: 65px;
}

.services__item{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 31%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.services__item:last-child{
    margin-right: 0;
}

.service__icon{
    fill: #fd5433;
    width: 170px;
    height: 170px;
}

.service__name{
    font-size: 30px;
    margin-top: 10px;
}

.service__content{
    margin-top: 30px;
}

.service__content > p:first-child{
    margin-top: 0;
}

/*PORTFOLIO*/

.portfolio__header{
    border-top: #828282 solid 1px;
    border-bottom: none;
}

.portfolio__content:after{
    content: "";
    display: block;
    clear: both;
}

.portfolio__item{
    float: left;
    width: 16.6667%;
}

/*ABOUT US*/

.about__content{
    width: inherit;
}

.about__tab{
    display: inline-block;
    vertical-align: top;

    box-sizing: border-box;
    width: 24%;
    padding: 4%;
}

.about__tab_active{
    position: relative;
}

.about__tab_active:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    content: "";
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 36px solid white;
}

.about__tab:first-child{
    padding-left: 2%;
}

.about__tab:last-child{
    padding-right: 2%;
}

.about__description{
    background-color: #fd5433;
}

.about__columns{
    padding-top: 70px;
    padding-bottom: 45px;

    color: white;
}

.about__column{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 20px;
}

.about__column:last-child{
    margin-right: 0;
}

.about__socials{
    margin-top: 50px;
}

.about__social{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.about__social:last-child{
    margin-right: 0;
}

.skills__title{
    margin-bottom: 30px;
}

.skills__row{
    margin-bottom: 10px;
}

.skills__name{
    display: inline-block;
    vertical-align: top;
    min-width: 21%;

    text-transform: uppercase;
}

.skills__progress-bar{
    display: inline-block;
    vertical-align: top;

    width:50%;
    padding-top: 3px;
    margin-left: 10%;
    margin-right: 1%;
}

.skills__progress{
    width: 100%;
    height: 10px;
    background-color: white;
}

/*LATEST POSTS*/

.posts__content{
    margin-bottom: 100px;
}

.posts__content:after{
    content: "";
    display: block;
    clear: both;
}

.post{
    float: left;
    width: 47%;
    margin-top: 90px;
    margin-right: 3%;
}

.post:last-child{
    margin-right: 0;
}

.post__img-box{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 2%;
}

.post__img{
    display: block;
    width: 100%;
}

.post__content{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.post__title{
    font-size: 25px;
}

.post__date{
    font-family: "Oswald", sans-serif;
    color: #686868;
    font-size: 15px;
    text-transform: uppercase;
}