/* oswald-regular - cyrillic_latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v16-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/oswald-v16-cyrillic_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* oswald-700 - cyrillic_latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald-v16-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/oswald-v16-cyrillic_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  font-family: 'Arial', sans-serif;
  margin: 0; }

p {
  font-size: 1rem;
  color: inherit;
  margin-top: 1.875rem;
  margin-bottom: 0; }

p:nth-child(n+1) {
  margin-top: 0; }

.main-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.button {
  border-radius: 5px;
  background-color: #fd5433;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-shadow: 0 1px #666666, inset 0 4px 4px -4px #fe7e5e;
  box-shadow: 0 1px #666666, inset 0 4px 4px -4px #fe7e5e;
  cursor: pointer; }

/*HEADER*/
.header {
  background-color: #ffffff;
  color: #565656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  font-size: 4.375rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text_orange {
  color: #fd5433; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }

.header__link {
  padding: 2.8125rem 1.25rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear; }

.header__link:hover {
  background-color: #fd5433;
  color: #ffffff;
  -webkit-transition: background-color .5s linear;
  transition: background-color .5s linear; }

/*PROMO BANNER*/
.promo {
  position: relative;
  background-color: #b9b9b9;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }

.promo:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.3); }

.promo__box {
  position: relative;
  padding-top: 14.375rem;
  padding-bottom: 19.375rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.promo__slogan {
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: 7.5rem;
  text-transform: uppercase;
  text-shadow: #8c8c8c 1px 1px 1px; }

.promo__link {
  padding: 0.375rem 3.75rem; }

/*SERVICES*/
.services {
  text-align: center; }

.section__header {
  position: relative;
  border-bottom: 1px solid #828282;
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  text-align: center; }

.section__title {
  font-size: 2rem;
  color: #fd5433; }

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  /*justify-content: space-around;*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4.0625rem;
  padding-bottom: 4.0625rem; }

.services__item {
  width: 30%; }

.services__item:nth-child(3n+2) {
  margin-left: 5%;
  margin-right: 5%; }

.services__item:nth-child(n+4) {
  margin-top: 4.0625rem; }

.service__icon {
  fill: #fd5433;
  width: 170px;
  height: 170px; }

.service__name {
  font-size: 1.875rem;
  margin-top: 1.875rem; }

.service__content {
  margin-top: 1.875rem; }

/*PORTFOLIO*/
.portfolio__header {
  border-top: #828282 solid 1px;
  border-bottom: none; }

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portfolio__item {
  width: 16.6667%;
  height: 100%; }

/*ABOUT US*/
.about__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.about__member {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 19%;
  /*margin-right: 4%;*/
  padding-top: 4.375rem;
  padding-bottom: 4.375rem; }

.about__member_active {
  position: relative; }

.about__member_active:after {
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 36px solid #ffffff; }

.about__member-img {
  width: 100%; }

.about__information {
  background-color: #fd5433;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  /*padding-top: 70px;
  padding-bottom: 45px;*/ }

.about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff; }

.about__column {
  width: 48%; }

.about__column:last-child {
  margin-right: 0; }

.about__title {
  text-transform: none;
  margin-bottom: 1.875rem; }

.about__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.125rem; }

.about__link {
  margin-right: 1.25rem; }

.about__link:last-child {
  margin-right: 0; }

.secondary-information__row {
  margin-bottom: 0.625rem; }

.secondary-information__row:last-child {
  margin-bottom: 0; }

.secondary-information__name {
  display: inline-block;
  vertical-align: top;
  min-width: 6.875rem;
  text-transform: uppercase; }

.about__progress {
  color: #ffffff;
  background-color: #ffffff;
  height: 10px;
  width: 50%;
  /*margin-left: 10%*/
  margin-right: 1%;
  margin-bottom: 0.3125rem; }

.about__progress::-webkit-progress-bar {
  background-color: #fd5433; }

.about__progress::-webkit-progress-value {
  background-color: #ffffff; }

/*LATEST POSTS*/
.posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px; }

.post {
  width: 47%;
  margin-top: 5.625rem; }

.post:last-child {
  margin-right: 0; }

.post__img-box {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-right: 2%; }

.post__img {
  display: block;
  width: 100%; }

.post__description {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

.post__header {
  padding-bottom: 0.625rem;
  margin-bottom: 1.875rem; }

.post__title {
  font-size: 1.5625rem; }

.post__date {
  display: block;

  font-family: "Oswald", sans-serif;
  color: #686868;
  font-size: 0.9375rem;
  text-transform: uppercase; }

.post__separator{
  display: inline-block;

  width: 5rem;
  height: 0.25rem;

  border: none;

  background-color: #fd5433;
}

/*CONTACT FORM*/
.contact-us__content {
  padding-top: 1.875rem;
  background-image: url("../img/bg-city-img.png");
  background-color: #b9b9b9;
  background-repeat: no-repeat;
  background-size: cover; }

.contact-us__header {
  border-top: #828282 solid 1px;
  border-bottom: none; }

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.25rem; }

.contact-form__field_half-size {
  width: 49%; }

.contact-form__field_full-size {
  width: 100%; }

.contact-form__label {
  display: none; }

.form-field {
  font-size: 1.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1.25rem; }

.form-field::-webkit-input-placeholder {
  color: #fd5433; }

.form-field:-ms-input-placeholder {
  color: #fd5433; }

.form-field::-ms-input-placeholder {
  color: #fd5433; }

.form-field::placeholder {
  color: #fd5433; }

.contact-form__message {
  width: 100%;
  height: 228px;
  resize: none;
  padding-top: 0.9375rem;
  font-family: inherit; }

.contact-form__button {
  display: block;
  width: 100%;
  margin-top: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  font-family: Oswald, sans-serif;
  font-size: 1.625rem;
  font-weight: 700; }

/*COPYRIGHT*/
.copyright {
  border-top: 1px solid #ffffff;
  padding-top: 1.5625rem;
  padding-bottom: 1.25rem; }

.section__copyright {
  margin-top: 5.3125rem; }

.copyright__text {
  display: inline-block;
  width: 100%;
  font-size: 1.125rem;
  color: #ffffff;
  text-align: center; }


@media screen and (max-width: 1023px){
  .header__link{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .post__img-box{
    display: block;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }
  .post__description{
    display: block;
    width: 100%;
  }

  .contact-form__row{
    flex-direction: column;
  }

  .contact-form__field_half-size{
    width: 100%;
  }

  .contact-form__field_half-size:nth-child(n+2){
    margin-top: 1.25rem;
  }
}