/*ABOUT US*/

.about__members{
  display: flex;
  justify-content: space-around;
}

.about__member{
  box-sizing: border-box;
  width: 19%;
  /*margin-right: 4%;*/
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.about__member_active{
  position: relative;
}

.about__member_active:after{
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 100%);

  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 36px solid $white;
}

.about__member-img{
  width: 100%;
}

.about__information{
  background-color: $orange;

  padding-top: 5rem;
  padding-bottom: 3.75rem;
  /*padding-top: 70px;
  padding-bottom: 45px;*/
}

.about__columns{
  display: flex;
  justify-content: space-between;

  color: $white;
}

.about__column{
  width: 48%;
}

.about__column:last-child{
  margin-right: 0;
}

.about__title{
  text-transform: none;

  margin-bottom: 1.875rem;
}

.about__socials{
  display: flex;

  margin-top: 3.125rem;
}

.about__link{
  margin-right: 1.25rem;
}

.about__link:last-child{
  margin-right: 0;
}

.secondary-information__row{
  margin-bottom: 0.625rem;
}

.secondary-information__row:last-child{
  margin-bottom: 0;
}

.secondary-information__name{
  display: inline-block;
  vertical-align: top;
  min-width: 6.875rem;

  text-transform: uppercase;
}

.about__progress{
  color: $white;
  background-color: $white;
  height: 10px;

  width:50%;
  /*margin-left: 10%*/;
  margin-right: 1%;
  margin-bottom: 0.3125rem;
}

.about__progress::-webkit-progress-bar{
  background-color: $orange;
}

.about__progress::-webkit-progress-value{
  background-color: $white;
}
