/*ABOUT US*/

.about__members{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about__member{
  box-sizing: border-box;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.about__member-img{
  max-width: 100%;
}

.about__member-info{
  background-color: $orange;

  padding: 4rem 2rem 3rem;
}

.about__columns{
  color: $white;
}

.about__title{
  font-size: 1.8rem;
  text-transform: none;

  margin-bottom: 2rem;
}

.about__socials{
  display: flex;

  margin-top: 2rem;
}

.about__link:nth-child(n+2){
  margin-left: 2rem;
}

.about__link:hover, .about__link:focus{
  opacity: 0.5;
}

.about__member-skills{
  margin-top: 4rem;
}

.about__member-skill{
  display: flex;
  align-items: center;

  font-size: 1.6rem;
}

.about__member-skill:nth-of-type(n+2) {
  margin-top: 0.625rem;
}

.about__member-skill-name{
  min-width: 11rem;

  text-transform: uppercase;
}

.about__member-skill-progress{
  color: $white;
  background-color: $white;
  height: 1rem;

  /*max-width: 10.9rem;*/
  width: 49%;
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
}

.about__member-skill-progress{
  background-color: $orange;
}

.about__member-skill-progress::-webkit-progress-bar{
  background-color: $orange;
}

.about__member-skill-progress::-webkit-progress-value{
  background-color: $white;
}

.about__member-skill-progress::-moz-progress-bar{
  background-color: $white;
}
/*123*/
.about__input{
  display: none;
}

.about__input:checked + label{
  background-color: #eaeaea;
}

.about__member-info{
  display: none;
  order: 1;
}

.about__input:checked + label + .about__member-info{
  display: block;
}

@media (min-width: 768px) {
  .about__columns{
    display: flex;
  }
  .about__member-main-info{
    width: 45%;
  }

  .about__member-skills{
    width: 45%;
    margin-top: 0;
    margin-left: 8%;
  }
}

@media (max-width: 721px){
  .about__member:nth-child(even){
    margin-left: 4%;
  }
}

@media (min-width: 722px){
  .about__member:nth-child(n+2){
    margin-left: 4%;
  }
}

@media (min-width: 1024px){
  .about__member_active{
    position: relative;
  }

  .about__member_active:after{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);

    content: "";
    width: 0;
    height: 0;
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    border-top: 3.6rem solid $white;
  }

  .about__member-skill-progress{
    width: 60%;
  }
}