.button{
  border-radius: 5px;
  background-color: $orange;

  font-size: 2rem;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;

  box-shadow: 0 1px $button-shadow-grey, inset 0 4px 4px -4px $button-shadow-orange;

  cursor: pointer;
}

.button:hover, .button:focus{
  background-color: #ff765b;
}

@media (min-width: 321px) {
  .button{
    font-size: 3.2rem;
  }
}