/*CONTACT FORM*/

.contact-us__content{
  padding-top: 3rem;

  background-image: url("../img/bg-city-img.png");
  background-color: #b9b9b9;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us__header{
  border-top: $section-border solid 1px;
  border-bottom: none;
}

.contact-form__personal-info{
  margin-bottom: 2rem;
}

.contact-form__email-box{
  margin-top: 2rem;
}

.contact-form__label{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contact-form__field{
  font-size: 2rem;

  box-sizing: border-box;

  width: 100%;
  padding: 1.25rem;

  border: none;
}

.contact-form__field::placeholder{
  color: $orange;
}

.contact-form__message{
  padding-top: 0.9375rem;

  font-family: inherit;
}

.contact-form__button{
  display: block;

  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border: none;

  font-family: Oswald, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
}

@media (min-width: 1024px){
  .contact-form__personal-info{
    display: flex;
  }

  .contact-form__name-box{
    width: 49%;
  }

  .contact-form__email-box{
    width: 49%;
    margin-top: 0;
    margin-left: 2%;
  }

  .contact-form__message{
    min-height: 228px;
  }
}