/*CONTACT FORM*/

.contact-us__content{
  padding-top: 3rem;

  background-image: url("../img/bg-city-img.png");
  background-color: #b9b9b9;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us__header{
  border-top: $section-border solid 1px;
  border-bottom: none;
}

.contact-form__row{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-bottom: 2rem;
}

.contact-form__field_half-size{
  width: 100%;
}

.contact-form__field_half-size:nth-child(n+2){
  margin-top: 2rem;
}

.contact-form__field_full-size{
  width: 100%;
}

.contact-form__label{
  display: none;
}

.form-field{
  font-size: 1.25rem;

  box-sizing: border-box;

  width: 100%;
  padding: 1.25rem;
}

.form-field::placeholder{
  color: $orange;
}

.contact-form__message{
  width: 100%;
  height: auto;
  resize: none;

  padding-top: 0.9375rem;

  font-family: inherit;
}

.contact-form__button{
  display: block;

  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border: none;

  font-family: Oswald, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
}

@media (min-width: 1024px){
  .contact-form__row{
    flex-direction: row;
  }

  .contact-form__field_half-size{
    width: 48%;
  }

  .contact-form__field_half-size:nth-child(n+2){
    margin-top: 0;
  }

  .contact-form__message{
    min-height: 228px;
  }
}