/*COPYRIGHT*/

.copyright{
  border-top: 1px solid $white;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.section__copyright{
  margin-top: 9rem;
}

.copyright__text{
  display: block;

  font-size: 1.8rem;
  color: $white;
  text-align: center;
}

