/*COPYRIGHT*/

.copyright{
  border-top: 1px solid $white;

  padding-top: 1.5625rem;
  padding-bottom: 1.25rem;
}

.section__copyright{
  margin-top: 5.3125rem;
}

.copyright__text{
  display: inline-block;
  width: 100%;

  font-size: 1.125rem;
  color: $white;
  text-align: center;
}

