/*LATEST POSTS*/

.posts__content{
  display: flex;
  justify-content: space-between;

  margin-bottom: 10rem;
}

.post{
  flex-direction: column;
  width: 100%;
  width: 47%;
  margin-top: 9rem;
}

.post__img-box{
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-right: 2%;
}

.post__img-box {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.post__img{
  display: block;
  width: 100%;
}

.post__description{
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.post__header{
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.post__header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 5rem;
  height: 0.25rem;
  background-color: #fd5433;
}

.post__title{
  font-size: 2.5rem;
}

.post__date{
  font-family: "Oswald", sans-serif;
  color: $date;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .post{
    flex-direction: row;
    flex-wrap: wrap;

    width: 48%;
  }

  .post:nth-child(even){
    margin-left: 2%;
  }
}

@media (min-width: 1024px) {
  .post__img-box{
    margin-right: 2%;
    width: 45%;
  }
}

@media (max-width: 1023px) {
  .post__header{
    margin-top: 1rem;
  }

  .post__description {
    width: 100%;
  }
}