/*LATEST POSTS*/

.posts__content{
  margin-bottom: 10rem;
  padding-top: 9rem;
}

.post__img{
  max-width: 100%;
}

.post__header{
  position: relative;

  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.post__header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 5rem;
  height: 0.25rem;
  background-color: #fd5433;
}

.post__title{
  font-size: 2.5rem;
}

.post__date{
  font-family: "Oswald", sans-serif;
  color: $date;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 699px){
  .post:nth-child(n+2){
    margin-top: 9rem;
  }
}

@media (min-width: 700px){
  .posts__content{
    display: flex;
    flex-wrap: wrap;
  }

  .post{
    width: 45%;
  }

  .post:nth-child(even){
    margin-left: 8%;
  }

  .post:nth-child(n+3){
    margin-top: 9rem;
  }
}

@media (min-width: 1024px){
  .post{
    display: flex;
  }

  .post__img-box{
    width: 48%;
  }

  .post__description{
    width: 48%;
    margin-left: 4%;
  }

  .post__header{
    margin-bottom: 3rem;
  }
}