/*PORTFOLIO*/

.portfolio__header{
  border-top: $section-border solid 1px;
  border-bottom: none;
}

.portfolio__content{
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item{
  position: relative;
}

.portfolio__item:hover:before{
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 100%;

  background-color: rgba(226, 69, 38, 0.75);

  cursor: pointer;
}

.portfolio__item:nth-child(n+4){
  display: none;
}

.portfolio__img{
  max-width: 100%;
}

@media (max-width: 767px) {
  .portfolio__item{
    width: 33.3333333%;
  }
}

@media (min-width: 768px)  and (max-width: 1023px){
  .portfolio__item{
    width: 25%;
  }

  .portfolio__item:nth-child(4){
    display: block;
  }
}

@media (min-width: 1024px) {
  .portfolio__item{
    max-width: 16.66666667%;
  }

  .portfolio__item:nth-child(n+4){
    display: block;
  }
}

@media (min-width: 1171px){
  .portfolio__content{
    justify-content: center;
  }
}