/*SERVICES*/

.services{
  text-align: center;
}

.section__header{
  position: relative;
  border-bottom: 1px solid $section-border;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  text-align: center;
}

.section__title{
  font-size: 3.2rem;
  color: $orange;
}

.services__content{
  display: flex;
  /*justify-content: space-around;*/
  flex-wrap: wrap;

  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.services__item{
  width: 100%;
}

.services__item:nth-child(n+2){
  margin-top: 6.5rem;
  margin-left: 0;
}

.service__icon{
  fill: $orange;
  width: 17rem;
  height: 17rem;
  /*width: 170px;
  height: 170px;*/
}

.service__name{
  font-size: 3rem;
  margin-top: 3rem;
}

.service__content{
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .services__item{
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }

  .services__item:nth-child(even){
    margin-left: 8%;
    margin-right: 0;
  }

  .services__item:nth-child(n+3){
    margin-top: 6.5rem;
  }
}

@media (min-width: 1024px) {
  .services__item{
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }

  .services__item:nth-child(3n+2){
    margin-left: 5%;
    margin-right: 5%;
  }

  .services__item:nth-child(n+4){
    margin-top: 6.5rem;
  }
}
