$white: #ffffff;
$orange: #fd5433;
$logo-grey: #474444;
$header-grey: #565656;

$grey-background: #b9b9b9;
$promo-overlay: rgba(185, 185, 185, 0.3);

$button-shadow-grey: #666666;
$button-shadow-orange: #fe7e5e;

$section-border: #828282;

$date: #686868;

$promo-text-shadow: #8c8c8c;